.corTexto {
    color: #fff;
}

.cabecalho-moda {
    background-color: #BB86FC;
}

.fundoTabela {
    background-color: #424250;
}

.cabecalho-casa {
    background-color: #00C4B4;
}

.espacamento {
    padding: 10px;
}